*{
  background-color: rgb(66, 66, 66);
  justify-content: center;

}
.box{
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  width: auto; 
  height: auto;
}
.inputs{
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
}
